html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  overflow-y:hidden
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ----------------------------- */

  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .bg_img{
    background-image: url('./images/inklandscape.png');
    background-size: 200vh,200vw;
    width:100%;
    height: 100%;
    z-index: -10;
    filter:blur(8px);
    opacity:0.4;
    position:absolute;
    left:0;top:0;
  }
  #head_info{
    height:4vh;
    background:black;
    color:yellow;
    overflow:scroll;
    position:sticky;
    top:0;
    line-height: 4vh;
    font-size: 3vh;
    text-align: center;
}
#filter{
    height: 3.7vh;
    margin-top: 0.3vh;
    /* margin-bottom: -0.1vh; */
}
.difficulty{
    width:100%;
    height:2vh;
    text-align:center;
    /* line-height: 2vh; */
    font-size:2vh;
    display:flex;
    flex-wrap: wrap;
    display: inline-block;
}
.difficulty i{text-align: center;}
.star{opacity:0.6}
.easy{background:linear-gradient(rgb(200, 255, 0),rgba(0,0,0,0))}
.medium{background:linear-gradient(rgb(255, 173, 80),rgba(0,0,0,0))}
.hard{background:linear-gradient(rgb(247, 72, 41),rgba(0,0,0,0))}
.bottom{
    height:4vh;
    width:100%;
    position:sticky;
    bottom:0;
    background:black;
    justify-content: space-between;
}
.bottom_button{
    background:black;
    border-style:solid;
    width:16.6vw;
    position:relative;
}
#button_home{
    height:5vh;
    width:12vw;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    position:absolute;
    bottom:0;
    left:50%;
    transform:translate(-50%);
    background:rgb(248, 219, 156);
    z-index:10;
    justify-content: center;
    text-align: center;
    line-height: 5vh;
    font-size:4vh;
}
.difficulty_container{
    overflow:hidden;
    height:29.5vh;
    position: relative;
    margin-top:0;
}
.difficulty_container img{
    opacity:0.6;
    filter:blur(8px);
    width:100%;
    justify-content: center;
    width:100%;
    height:auto;
    max-height:auto;
    display: block;
    position:absolute;
    top:0;
    z-index:-10;
}
.district_container{
  overflow-y:scroll;
  height:max-content;
  position: relative;
  margin-top:0;
  justify-content: space-between;
  text-align: center;
}
.icons-container{
    overflow-x:scroll;
    justify-content: center;
}
.icons-row{
    height:14vh;
    display:flex;
    flex-wrap: wrap;
    width:max-content;
}
.route-icon{
    height:8vh;
    width:8vh;
    margin:2vh;
    margin-top:0.5vh;
    border-radius:100%;
    background:white;
    position:relative;
    justify-content: center;
    text-align: center;
    display:inline-block;
    background-position:center;
    background-size:269%;
    box-shadow:0.2vh 0.2vh 0.2vh 0.2vh black;
}
.district-icon{
  margin-right: 2.5vw;
  margin-left: 2.5vw;
  margin-bottom: 5vh;
  text-align:center;
}
.route-name{
    position:absolute;
    bottom: -5vh;
    font-size: 2vh;
    height:4vh;
    width:8vh;
    margin: auto;
    color:rgb(6, 34, 48);
    font-weight:bolder;
}
.b1{border:solid 0.3vh  rgb(85,255,0)}
.b2{border:solid  0.3vh rgb(128,255,0)}
.b3{border:solid  0.3vh rgb(171,255,0)}
.b4{border:solid 0.3vh  rgb(213,255,0)}
.b5{border:solid 0.3vh  rgb(255,255,0)}
.b6{border:solid 0.3vh  rgb(255,213,0)}
.b7{border:solid 0.3vh  rgb(255,171,0)}
.b8{border:solid 0.3vh  rgb(255,128,0)}
.b9{border:solid 0.3vh  rgb(255,85,0)}
.b10{border:solid  0.3vh rgb(255,43,0)}

.d1{background: radial-gradient(rgb(85,255,0,0.5),white)!important}
.d2{background: radial-gradient(rgb(128,255,0,0.5),white)!important}
.d3{background: radial-gradient(rgb(171,255,0,0.5),white)!important}
.d4{background: radial-gradient(rgb(213,255,0,0.5),white)!important}
.d5{background: radial-gradient(rgb(255,255,0,0.5),white)!important}
.d6{background: radial-gradient(rgb(255,213,0,0.5),white)!important}
.d7{background: radial-gradient(rgb(255,171,0,0.5),white)!important}
.d8{background: radial-gradient(rgb(255,128,0,0.5),white)!important}
.d9{background: radial-gradient(rgb(255,85,0,0.5),white)!important}
.d10{background: radial-gradient(rgb(255,43,0,0.5),white)!important}
.route-name div{
  vertical-align: middle;
  height:2vh;
}

.own{
  background:rgba(213,255,0,0.7) !important;
  background:rgba(0, 255, 191, 0.582) !important;

}


#filter{
    display: flex;
    flex-wrap: wrap;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: 'Poppins', sans-serif;
}
nav{
  /* position: absolute; */
  /* top: 20%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* position: relative; */
  background: #1b1b1b;
  width: 25vw;
  height:4vh;
  line-height: 4vh;
  padding: 0vh 2vw;
  border-radius: 5px;
}
#father{position:relative}
nav label{
  color: white;
  font-size: 1.5vh;
  font-weight: 500;
  display: block;
  cursor: pointer;
}
.button span{
  float: right;
  line-height: 40px;
  transition: 0.5s;
}
.button span.rotate{
  transform: rotate(-180deg);
}
nav ul{
  position: absolute;
  background: #1b1b1b;
  list-style: none;
  top: 3vh;
  left:0;
  width: 100%;
  border-radius: 5px;
  display: none;
  z-index:100;
}
#child1{position:absolute;top:3vh;left:0;}
#child2{position:absolute;top:3vh;left:0;}
#child3{position:absolute;top:3vh;left:0;}
#child4{position:absolute;top:3vh;left:0;}

[id^=btn1]:checked + #child1{
  display: block;
}
[id^=btn2]:checked + #child2{
    display: block;
}
[id^=btn3]:checked + #child3{
    display: block;
}
[id^=btn4]:checked + #child4{
    display: block;
}
nav .menu:before{
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  background: #1b1b1b;
  right: 20px;
  top: -10px;
  transform: rotate(45deg);
  z-index: -1;
}
nav ul li{
  line-height: 40px;
  padding: 8px 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
nav ul li label{
  font-size: 18px;
}
nav ul li a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: block;
}
nav ul li a:hover,
nav ul li label:hover{
  color: cyan;
}
nav ul ul{
  position: static;
}
nav ul ul li{
  line-height: 30px;
  padding-left: 30px;
  border-bottom: none;
}
nav ul ul li a{
  color: #e6e6e6;
  font-size: 17px;
}
nav ul li span{
  font-size: 20px;
  float: right;
  margin-top: 10px;
  padding: 0 10px;
  transition: 0.5s;
}
nav ul li span.rotate{
  transform: rotate(-180deg);
}
input{
  display: none;
}
/* Dropdown Button */
.dropbtn {
  background-color: rgb(200, 255, 0);
  color: rgb(44, 15, 58);
  /* padding: 16px; */
  margin-top:0.7vh;
  font-size: 2.5vh;
  line-height: 3vh;
  border: none;
  cursor: pointer;
  width:35vw;
  height:3vh;
  border-bottom:none;
  /* border-top-left-radius: 20%; */
  /* border-top-right-radius: 20%; */
}
.dropbtnl{border-top-left-radius: 40%;}
.dropbtnr{border-top-right-radius: 40%;}
.unclick{
  filter:brightness(50%)
}


/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #aafa9a;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-contentl {
  display: none;
  position: absolute;
  background-color:rgb(200, 255, 0);
  opacity:0.85;
  font-size: 2.5vh;
  line-height: 4vh;
  text-align: center;
  min-width: 35vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-contentr {
  display: none;
  position: absolute;
  background-color:rgb(200, 255, 0);
  opacity:0.85;
  font-size: 2.5vh;
  line-height: 4vh;
  text-align: center;
  min-width: 35vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-contentl a {
  color: black;
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
  height:4vh;
}
.dropdown-contentr a {
  color: black;
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
  height:4vh;
}
.dropdown-contentl:last-child{
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 20%;
}
.dropdown-contentr:last-child{
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 20%;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.hiking{
  width:30vw;
  background:grey;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  transition-duration: 1s;
  font-size:3vh;
  line-height: 3.7vh;
  text-align: center;
}
.isHiking{
  background:rgba(255, 0, 0, 0.781);
}

.team{
  height:6vh;
  width:100%;
  background:white;
  opacity:0.8;
  margin:5px;
  border-radius: 60px;
  line-height: 6vh;
  vertical-align: middle;
  display:flex;
  flex-wrap:wrap;
  /* border:0.1vh solid black; */
  box-shadow:0 0 10px black;
}
.nearby{
  background:rgb(219, 205, 170)
}
.teaminfo_container{
  width:26vw;
  padding-left: 1vw;
  overflow-x: scroll;

}
.timeinfo_container{
  width:21vw;
  padding-top:1vh;
}
.info_text_team{
  line-height:2vh;
  font-size: 2vh;
  padding-left:1vw;
  width:max-content;
  font-weight: bold;
}
.team_description{
  font-weight: lighter;
}
.info_text_time{
  line-height:2.2vh;
  font-size: 2vh;
  width:20vw;
  text-align: center;
  z-index: 100;
  /* background:rgb(219, 205, 170) */

}
.nearby_route{
  padding-left:1vw;
  display: flex;
  flex-wrap:wrap
}
.nearby_route_name{
  min-width: 15vw;
  max-width: max-content;
  line-height:4vh;
  font-size: 2vh;
  overflow-x: auto;
}
.nearby_route_away{
  width: 8vw;
  padding-top:0.1vh;
  line-height:1.9vh;
  font-size:1.8vh;
  text-align: center;
}
.image_profile{
  height:5vh;
  width:5vh;
  border-radius:100%;
  display:inline-block;
  padding-top:1vh;
  margin-top: 0.5vh;
  margin-left: 0.5vh;
  background-position: center;
  background-size: cover;
}
.no_of_teammate{
  line-height:6vh;
  font-size:3vh;
  text-align: center;
  width:15vw;
}
.view_activity{
  height:4vh;
  width:23vw;
  margin-top: 1vh;
  margin-left: 1vw;
  border-radius:30%;
  font-size:1.8vh;
  text-align: center;
  line-height:4vh;
  background: radial-gradient(rgb(182, 186, 196),orange)!important;
}
.view_route{
  height:4.5vh;
  width:23vw;
  border-radius:30%;
  font-size:1.9vh;
  text-align: center;
  line-height:1.9vh;
  padding-top: 0.6vh;
  background:rgb(182, 196, 183);
  background: radial-gradient(rgb(182, 186, 196),rgb(2, 165, 2))!important;


  margin:0.5vh;

}
.team_buttons{
  width:25vw;
  justify-content: center;
  text-align: center;
}
.team_button{
  /* margin:0.5vh; */
  height:2.5vh;
  width:23vw;
  border-radius: 20%;
  font-size: 2vh;
  text-align: center;
  line-height: 2.5vh;
  /* position:absolute; */
  margin:0.3vh;
  right:2vw;
}

.activities_container{
  height:100%;
    width:100%;
    /* background:rgb(231, 221, 127); */
    overflow-y: scroll;
    overflow-x:hidden
}
#page_content_container{
  height:90vh;
}

