html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ----------------------------- */

body {
  height: 100vh;
  font-family: "Noto Sans TC", sans-serif;
}

#head_info {
  height: 5vh;
  background: black;
  color: yellow;
  overflow: scroll;
}
/* .bottom {
  height: 4vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: white;
  justify-content: space-between;
} */
/* .bottom_button {
  background: cadetblue;
  border-style: solid;
  width: 16.6vw;
  position:sticky;
  bottom:0
} */

/* .button-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.button {
  width: 50vw;
  text-align: center;
  height: 20vh;
  line-height: 20vh;
  font-size: 3vh;
}

 */
body {
  background-color: black;
}

.bg_img {
  background-image: url("./images/photo.jpeg");
  background-size: 200vh, 200vw;
  width: 100%;
  height: 100%;
  z-index: -10;
  filter: blur(4px) brightness(50%);

  opacity: 0.8;
  position: absolute;
  left: 0;
  top: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  line-height: 4rem;
  text-align: center;

  border-radius: 50%;
  height: 4rem;
  width: 4rem;

  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: 0.5s;
  cursor: pointer;
}
.shop {
  transition-delay: 0s;
}
.forum {
  transition-delay: 0.2s;
}
.mission {
  transition-delay: 0.4s;
}
.guild {
  transition-delay: 0.6s;
}
.profile {
  transition-delay: 0.8s;
}

.btn-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 25%;
  top: 30%;
  color: white;
}

.btn-inner > i {
  color: seashell;
}

.inner-text {
  opacity: 0;
  /* transition: 0.3s ease;
  transition-delay: 0.5s; */
}

.menu-inner {
  top: 0;
}
.times-inner {
  top: 40%;
}

.forum-inner {
  left: 10%;
}
.shop-inner {
  left: 18%;
}

.collapse {
  z-index: -2;
  background-color: gray;
}

.menu {
  z-index: 10;
}
.button:nth-child(n) {
  background-color: rgb(231, 192, 19);
}
.button:nth-child(2n) {
  background-color: grey;
}
.button:nth-child(3n) {
  background-color: rgb(170, 26, 26);
}
.button:nth-child(4n) {
  background-color: gray;
}
.button:nth-child(5n) {
  background-color: rgb(185, 185, 185);
}
.button:nth-child(6n) {
  background-color: rgb(224, 157, 12);
}
.button:nth-child(7n) {
  background-color: rgb(94, 167, 124);
}
.shop {
  background-color: skyblue !important;
}
.profile {
  background-color: rgb(170, 26, 26) !important;
}
.mission {
  background-color: rgb(94, 167, 124) !important;
}
.forum {
  background-color: rgb(115, 22, 168) !important;
}
footer {
  position: absolute;
  bottom: 0;
  background: rgb(231, 192, 19);
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* .mission {
  left: 32%;
  top: 27%;
}

.guild {
  right: 32%;
  top: 27%;
}
.forum {
  bottom: 10%;
  left: 50%;
}
.profile {
  bottom: 10%;
  right: 50%;
}
.shop {
  bottom: 30%;
} */
