.sticky-top{
    position:sticky;
    top:0;
    background-color: white;
}

.header{
    height:50px;
    background:rgb(0, 0, 0);
    font-size: 30px;
    color:white;
    margin-bottom: 10px;
    width:100%;
    text-align: center;
}

.return{
    position:absolute;
    left:10px;    
}

.main-container{
    position:relative;
    border: 2px solid black;
    border-radius: 20px;
    height: 82vh;
    margin-left: 10px;
    margin-right: 10px;
}
.close{
    position:absolute;
    right:10px;
    top:10px
}

.tutorial-top{
    height:40px;
    display:flex;
}
.tutorial-title{
    font-size: 20px;
    justify-content: center;
    align-items: center;
    padding: 5px 5px 5px 5px;
}


.footer{
    height:50px;
    margin-top:10px;
    padding: 15px;
    background:rgb(0, 0, 0);
    font-size: 30px;
    color:white;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    bottom:0;
}