/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------------------------------------------------- */

body {
  height: 100%;
  font-family: "Noto Sans TC", sans-serif;
}

.bg_img {
  background-image: url("./image/03.jpg");
  filter: brightness(50%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -10;
}

.form-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: transparent;
  filter: brightness(100%);
}

form {
  background: rgba(148, 88, 9, 0.801);
  border: 3px solid rgb(231, 176, 26);
  display: flex;
  border-radius: 3rem;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0.5rem;
}

h1 {
  color: rgb(231, 176, 26);
  margin: 2rem auto;
  margin-bottom: 1rem;
  font-size: 3rem;
}

form {
  margin: 1rem;
}

input {
  color: rgb(231, 176, 26);
  font-size: 20px;
  border: none;
  border-bottom: rgb(231, 176, 26) 1px solid;
  background: none;
  margin: 0.5rem;
  transition: 0.5s ease;
}
input:focus {
  outline-width: 0;
  border-bottom: rgba(33, 231, 109, 0.644) 5px solid;
}
input:active {
  background-color: transparent;
}

::placeholder {
  color: rgb(231, 176, 26);
}

.fa-google {
  color: rgb(45, 107, 241);
}

.google-login {
  border: none;
  background: none;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.reg {
  color: cadetblue;
  cursor: pointer;
}

.wrongNotice {
  color: white;
  font-size: medium;
  width: 100%;
  margin: 0.5rem 0;
  margin-top: 0;
  padding: 1rem;
  text-align: center;
  background-color: palevioletred;
}

.formHeading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
