/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------------------------------------------------- */
body {
  background-image: url("./image/03.jpg");
  /* filter: blur(8px); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
}

header {
  z-index: 2;
  position: sticky;
  top: 0;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(139, 104, 9);
}
.return {
  position: absolute;
  left: 0.5rem;
}

h1 {
  font-size: 2rem;
  text-align: center;
}
h2 {
  font-size: 1.7rem;
  text-align: center;
}

.btn {
  margin-top: 0.5rem;
  width: 100%;
}

.btn:active {
  border: none;
}
.btn:focus {
  border: none;
  background: orange;
  color: white;
}
.card {
  margin: 1px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 1rem;
  border: rgba(255, 166, 0, 0.739) 1px solid;
  opacity: 0.7;
}

.time-span {
  color: gray;
  font-size: small;
}

.topic {
  max-width: 75%;
  overflow: hidden;
}

.control {
  background: rgb(204, 154, 17);
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: rgb(204, 154, 17) solid 3px;
  align-items: center;
  padding: 0.3rem 0.5rem;
  border-radius: 0 0 1rem 1rem;
}

footer {
  z-index: 100;
  position: sticky;
  bottom: 0;
  background: rgb(204, 154, 17);
  width: 100%;
  padding: 0.7rem;
  border-radius: 1rem 1rem 0 0;
}

.footer-control {
  display: flex;
  justify-content: space-around;
}

main {
  height: 87vh;
  overflow: scroll;
}
.route-name {
  font-size: small;
  margin-bottom: 0.5rem;
  max-width: 8rem;
  max-height: 3rem;
  overflow: hidden;
}
.title {
  margin-bottom: 0.5rem;
  font-size: large;
}

.like {
  position: absolute;
  right: 2rem;
}

.fa-thumbs-up {
  margin-right: 1rem;
}

.cat {
  z-index: 100;
  display: none;
  width: 100%;
  position: absolute;
  bottom: 0;
  justify-content: center;

  padding-bottom: 2rem;
  background: rgb(204, 154, 17);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem 1rem 0 0;
}
.cat > div {
  border-radius: 1rem;
  width: 85%;
  background: rgb(17, 100, 6);
  border: rgb(204, 154, 17) 1px solid;
  color: white;
}

.cat > div:nth-child(n) {
  background: #007dc5;
}
.cat > div:nth-child(2n) {
  background: rgb(5, 151, 24);
}
.cat > div:nth-child(3n) {
  background: rgb(191, 10, 223);
}
.cat > div:nth-child(4n) {
  background: #53b7e8;
  color: black;
}
.cat > div:nth-child(5n) {
  background: #f173ac;
}
.cat > div:nth-child(6n) {
  background: #7d499d;
}
.cat > div:nth-child(7n) {
  background: orange;
}
.cat > div:nth-child(8n) {
  background: #923011;
}

.left-control {
  margin-bottom: 0.7rem;
}
