.sticky-top{
    position:sticky;
    top:0;
    background-color: white;
}

.header{
    height:50px;
    background:rgb(0, 0, 0);
    font-size: 30px;
    color:white;
    margin-bottom: 10px;
    width:100%;
    text-align: center;
}

.return{
    position:absolute;
    left:10px;    
}

.main-container{
    width:100%;
}
.content{
    display:flex;
    justify-content: center;
    width:100%;
    border:5px solid black;
    height:30vh;
    margin-bottom:5px;
}

.footer{
    height:50px;
    margin-top:10px;
    padding: 15px;
    background:rgb(0, 0, 0);
    font-size: 30px;
    color:white;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    bottom:0;
}