#page_content_container{
    height:90vh;
  }

  .bg_img{
    background-image: url('./images/inklandscape.png');
    background-size: 200vh,200vw;
    width:100%;
    height: 100%;
    z-index: -10;
    filter:blur(8px);
    opacity:0.4;
    position:absolute;
    left:0;top:0;
  }
  
  
  
  #head_info{
      position: relative;
      height:6vh;
      background:black;
      color:white;
      overflow:scroll;
      position:sticky;
      top:0;
      line-height:6vh;
      text-align: center;
      font-size: 4vh;
    }
    
    .back{
      position: absolute ;
      left: 2vw ;
      font-size: 4vh;
      line-height: 6vh;
  
    }
.bottom{
    height:4vh;
    width:100%;
    position:sticky;
    bottom:0;
    background:black;
    justify-content: space-between;
}
.bottom_button{
    background:black;
    border-style:solid;
    width:16.6vw;
    position:relative;
}
.activities_container{
    height:100%;
      width:100%;
      /* background:rgb(231, 221, 127); */
      overflow-y: scroll;
      overflow-x:hidden
}

.team_button{
    /* margin:0.5vh; */
    height:2.5vh;
    width:23vw;
    border-radius: 20%;
    font-size: 2vh;
    text-align: center;
    line-height: 2.5vh;
    /* position:absolute; */
    margin:0.3vh;
    right:2vw;
}
.join{
    background: rgb(156, 196, 11) 
}
.requested{
    background:grey  !important
}
.message{
    background:wheat;
}