html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ----------------------------- */

.mapOrPhoto{
    height:30%;
    width:100%;
    position:relative;
}
#map {
    height: 100%;
    width:100%
  }
.scene{
    height:100%;
    width:100%
}
  
  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .bg_img{
    background-image: url('./images/inklandscape.png');
    background-size: 200vh,200vw;
    width:100%;
    height: 100%;
    z-index: -10;
    filter:blur(8px);
    opacity:0.4;
    position:absolute;
    left:0;top:0;
  }
#head_info{
    height:5vh;
    background:black;
    color:rgba(255, 255, 255, 0.829);
    overflow-x:scroll;
    display: flex;
    flex-wrap: wrap;
}
.today_weather{
    width:20vw;
    font-size: 4vh;
    line-height: 5vh;
    text-align: center;
}
.today_weather_details{
    overflow-x:scroll;
    /* height:3vh; */
    width:95vw;
    font-size: 2.5vh;
    line-height: 3vh;
    background:rgba(0, 0, 0, 0.705);
    position: absolute;
    height:max-content;
    max-height:10vh;
    top:5vh;
    z-index: 10;
    padding-left:2.5vw;
    padding-right:2.5vw;
    transition-duration:1s
}
.weather_forecast{
    overflow-x:scroll;
    overflow-y:hidden;
    white-space: nowrap;
    height:5vh;
    width:80vw;
    text-align: center;
    justify-content: space-between;
}
.weather_image{
    margin-top:0.5vh;
}
.week{
    display:flex;
    flex-wrap: wrap;
    width:max-content;
    height:5vh
}
.day{
    display:inline-block;
    width:25vw;
}
.weather_day{
    display:flex;
    flex-wrap: wrap;
    width:25vw;
}
.date{
    text-align: center;
    padding-top:0.5vh;
    line-height: 2vh;
    font-size: 1.9vh;
}
.route{
    height:7.5vh;
    background:rgb(0, 0, 0);
    font-size: 2.7vh;
    line-height:3.5vh;
    color:white;
    margin-bottom: 0.5vh;
    padding-top:0.5vh;
    text-align: center;
    position:relative;
}
.back{
    position:absolute;
    left:2vw;
    font-size: 4vh;
    line-height: 7.5vh;
}
.button_map_scene{
    display:flex;
    flex-wrap: wrap;
}
.button{
    /* background:rgb(104, 103, 103); */
    color:black;
    font-weight: 900;
    opacity:0.9;
    height:3vh;
    width:50vw;
    text-align: center;
    font-size: 2.2vh;
    line-height: 3vh;
}
.button:hover{
    background:chocolate
}
.left{
    border-top-left-radius: 30%;
}
.right{
    border-top-right-radius: 30%;
}
.click{
    filter:brightness(50%)
}
.route_info{
    background: rgb(92, 91, 91);
    height:8vh;
    display:flex;
    flex-wrap: wrap;
    /* background:rgb(165, 165, 25); */
    position:relative;
}
.elevations{
    height:3vh;
    background: rgb(92, 91, 91);
}
.b1{background:rgb(85,255,0) !important}
.b2{background:rgb(128,255,0) !important}
.b3{background:rgb(171,255,0) !important}
.b4{background:rgb(213,255,0) !important}
.b5{background:rgb(255,255,0) !important}
.b6{background:rgb(255,213,0) !important}
.b7{background:rgb(255,171,0) !important}
.b8{background:rgb(255,128,0) !important}
.b9{background:rgb(255,85,0) !important}
.b10{background:rgb(255,43,0) !important}

.difficulty{
    height:5vh;
    width:40vw;
    text-align: center;
    font-size: 3.4vh;
    line-height: 5vh;
    z-index:20;
    padding-right: 6vw;
    border-bottom-right-radius: 40%;
    border-top-right-radius: 40%;
}
.diffBar{
    position:absolute;
    height:5vh;
    left:0;
    top:0;
    opacity:0.6;
    width:50vw;
    z-index:10;
}
.elevations{
    height:3vh;
    width:100%;
    font-size: 2.5vh;
    line-height: 3vh;
    text-align: center;
    color:rgb(159, 196, 91);
    opacity: 0.9;
}
.star{color: black; opacity:0.7}
.chill{background:rgb(128,255,128);width:15vw}
.easy{background:rgb(171,255,128);width:30vw}
.moderate{background:rgb(255,255,128);width:45vw}
.challenging{background:rgb(255,213,128);width:60vw}
.difficult{background:rgb(255,171,128);width:75vw}
.extreme{background:rgb(255,128,128);width:90vw}
.right_info{
    display: flex;
    flex-wrap: wrap;
    color:rgb(159, 196, 91);
    opacity:1;
    height:5vh;
    width:54vw;
    text-align: center;
}
p{display: inline;}h1{display:inline;}
.digit{font-size:4.5vh;color:white}
.km{width:30vw;color:white}
.rewards{font-size: 2vh;line-height: 2.5vh; width:24vw;}
.description{
    font-size:1.5vh;
    line-height:2vh;
    background:rgb(238, 208, 142);
    width:95vw;
    padding-left:2.5vw;
    padding-right:2.5vw;
    height:6vh;
    overflow: scroll;
    opacity:0.8;
}
#extend{
    height:2vh;
    background:linear-gradient(rgb(238, 208, 142),rgb(150,139,77));
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    text-align: center;
    font-size: 2vh;
    width:100vw;
    transition-duration: 1s;
}
.expand{
    height:30vh;
    transition-duration: 1s;
}
.bottom_select{
    height:4vh;
    width:100%;
    position:sticky;
    bottom:0;
    background:black;
    justify-content: space-between;
    display:flex;
    flex-wrap:wrap;
}
.bottom_button{
    background:black;
    color:white;
    border-style:solid;
    width:36vw;
    padding-left: 3vw;
    position:sticky;
    bottom:0;
    height:4vh;
    font-size: 2.8vh;
    line-height: 4vh;
    text-align: center;
}
#button_home{
    height:5vh;
    width:12vw;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    position:absolute;
    bottom:0;
    left:50%;
    transform:translate(-50%);
    background:rgb(248, 219, 156);
    z-index:10;
    justify-content: center;
    text-align: center;
    line-height: 5vh;
    font-size:4vh;
}
.create{
    justify-content: center;
    text-align: center;
    position: relative;
    height:4.5vh;
}
.create_button{
    height:4vh;
    width:45vw;
    background:chocolate;
    border-radius: 10px;
    font-size:3.5vh;
    text-align:center;
    position:absolute;
    left:50%;
    transform:translate(-50%);
    margin:0.3vh
}
.other_activities{
    height:20vh;
    width:100%;
    /* background:rgb(231, 221, 127); */
    overflow-y: scroll;
    overflow-x:hidden
}

.own{
    background:rgba(213,255,0,0.7) !important;
    background:rgba(0, 255, 191, 0.582) !important;
  
  }
.team{
    height:6vh;
    width:100%;
    background:white;
    opacity:0.8;
    margin:5px;
    border-radius: 60px;
    line-height: 6vh;
    vertical-align: middle;
    display:flex;
    flex-wrap:wrap;
    /* box-shadow:20px 20px 20px black; */
    /* border:0.1vh solid black; */
}
.nearby{
    background:rgb(219, 205, 170)
}
.teaminfo_container{
    width:26vw;
    padding-left: 1vw;
    overflow-x: scroll;

}
.timeinfo_container{
    width:21vw;
    padding-top:1vh;
}
.info_text_team{
    line-height:2vh;
    font-size: 2vh;
    padding-left:1vw;
    width:max-content;
    font-weight: bold;
}
.team_description{
    font-weight: lighter;
}
.info_text_time{
    line-height:2.2vh;
    font-size: 2vh;
    width:20vw;
    text-align: center;
    z-index: 100;
    /* background:rgb(219, 205, 170) */

}
.nearby_route{
    padding-left:1vw;
    display: flex;
    flex-wrap:wrap;
    position:relative;
}
.nearby_route_name{
    min-width: 15vw;
    max-width: max-content;
    line-height:4vh;
    font-size: 2vh;
    overflow-x: auto;
}
.nearby_route .nearby_route_away{
    width: 8vw;
    padding-top:0.1vh;
    line-height:1.9vh;
    font-size:1.8vh;
    text-align: center;
    position:absolute;
    bottom:0;
    left:18vw;
}
.image_profile{
    height:4vh;
    width:5vh;
    border-radius:100%;
    display:inline-block;
    padding-top:1vh;
    margin-top: 0.5vh;
    margin-left: 0.5vh;
    background-position:center;
    background-size:cover

}
.no_of_teammate{
    line-height:6vh;
    font-size:3vh;
    text-align: center;
    width:15vw;
}
.view_activity{
    height:4vh;
    width:23vw;
    margin-top: 1vh;
    margin-left: 1vw;
    border-radius:30%;
    font-size:1.8vh;
    text-align: center;
    line-height:4vh;
    background: radial-gradient(rgb(182, 186, 196),orange)!important;
}
.view_route{
    height:4.5vh;
    width:23vw;
    border-radius:30%;
    font-size:2vh;
    text-align: center;
    line-height:2vh;
    padding-top: 0.5vh;
    background:rgb(182, 186, 196);
    background: radial-gradient(rgb(182, 186, 196),rgb(117, 155, 117))!important;
    margin:0.5vh;

}
.team_buttons{
    width:25vw;
    justify-content: center;
    text-align: center;
}
.team_button{
    /* margin:0.5vh; */
    height:2.5vh;
    width:23vw;
    border-radius: 20%;
    font-size: 2vh;
    text-align: center;
    line-height: 2.5vh;
    /* position:absolute; */
    margin:0.3vh;
    right:2vw;
}
.join{
    background: rgb(156, 196, 11) 
}
.requested{
    background:grey  !important
}
.message{
    background:wheat;
}
.activities_title{
    height:6vh;
    font-size: 3vh;
}
.related_thread{
    overflow-y: scroll;
    overflow-x:hidden;
    height:10vh;
    opacity:0.6;
}
.thread{
    margin:0.2vh;
    /* border-radius: 60px; */
    height:5vh;
    width:100%;
    background:black;
    color:yellowgreen;
    display:flex;
    flex-wrap: wrap;
}
.thread_creator{
    width:38vw;
    padding-left: 2vw;
    font-size:1.8vh;
    line-height: 2.5vh;
    text-align: center;
    overflow-x: scroll;
}
.thread_creator div{
    width: max-content;
}
.thread_topic{
    width:58vw;
    padding-left: 2vw;
    font-size:2vh;
    line-height: 5vh;
}

#activity-form{
    height:15vh;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
#eventdate,#eventtime{
    height:4vh;
    width:45vw;
    font-size: 2vh;
    background: rgb(165, 165, 25);
    color:black;
    text-align: center;
    padding-right: 2vw;
    padding-left: 2vw;
}
#activity-form select{
    width:20vw;
}
#eventdate{
    width:40vw;
}
#eventtime{
    width:40vw;
}
#participants{
    width:20vw;
}
#public{
    width:20vw
}
#descriptiontyped{
    width:88%;
    background:wheat;
    height:4vh;
    font-size: 2.5vh;
    line-height: 4vh;
    text-align: center;
}
#submit{
    margin:1vh;
    background: chocolate;
}
.cancel{
    position:absolute;
    right:8vw;
    bottom:26vh;
}
.event_container{
    height:40vh;
    padding-top:1vh;
    position:relative;
}
.notice{
    position:absolute;
    left:50%;
    top:80%;
    transform: translate(-50%,-50%);
    width:25vw;
    height:3vh;
    background:rgba(250, 171, 25,0.8);
    text-align: center;
    line-height: 3vh;
    border-radius:3vh
}
.directions{
    position:absolute;
    top:0;
    left:0;
    width:50vw;
    height:3vh;
    background:black;
    color:#9fc45b;
    opacity:0.6;
    z-index:20;
    border-bottom-right-radius: 40%;
    border-bottom-right-radius: 50px;
    display: flex;
    flex-wrap: wrap;
}
.directions div{
    width:19vw;
    justify-content: space-between;
    text-align: center;
    line-height: 3vh;
    font-size: 2.3vh;
    /* border-radius: 20px; */
}
.start{border-left:1px solid #9fc45b;border-right:0px solid #9fc45b;}
.end{border-left:0.5px solid #9fc45b}
.direction_click{background:chocolate}
.directions i{
    font-size: 2vh;
    word-spacing: 2em;
    line-height: 3vh;
    padding-left: 3vw;
    padding-right: 3vw;
}
.display_none{
    display: none;
    transition-duration: 1s;
}
